@model clinical.Models.ApplicationUser
<ul class="dropdown-menu">
    <!-- The user image in the menu -->
    <li class="user-header">
        @Html.GravatarImage(Model.Email, "img-circle", 160, GravatarHtmlHelper.DefaultImage.MysteryMan)
        <p>
            @Html.DisplayFor(model => model.NombreCompleto) - @Html.DisplayFor(model => model.IdEmpresa)
            <small>@Html.DisplayFor(model => model.Email)</small>
        </p>
    </li>
    <!-- Menu Footer-->
    <li class="user-footer">
        <div class="pull-left">
            <a href="#" class="btn btn-default btn-flat">Profile</a>
        </div>
        <div class="pull-right">
            <form asp-action="LogOff" asp-controller="Account">
                <input type="submit" value="Cerrar Sesion" class="btn btn-default btn-flat" />
            </form>
        </div>
    </li>
</ul>
<div class="pull-left image">
    @Html.GravatarImage(Model.Email, "img-circle", 160, GravatarHtmlHelper.DefaultImage.MysteryMan)
</div>
<div class="pull-left info">
    <p>@Html.DisplayFor(model => model.NombreCompleto)</p>
    <!-- Status -->
    <a href="#"><i class="fa fa-hospital-o" aria-hidden="true"></i> @Html.DisplayFor(model => model.IdEmpresa)</a>
</div>

