@model clinical.Models.Atencion

@{
    Layout = null;
    ViewData["Title"] = "Nueva Atencion";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><span class="fa fa-plus-circle"></span> Nueva Atencion <b>@ViewBag.Paciente.NombreCompleto</b> <small>@ViewBag.Paciente.Edad años, @ViewBag.Paciente.Ocupacion</small></h4>
</div>
<form asp-action="Create" asp-controller="Atenciones">
    <div class="modal-body">
        <!--<div class="row">
            <div class="col-sm-12">
                    <h4></h4>
            </div>
        </div>-->
        <input type="hidden" asp-for="PacienteId" value="@ViewBag.PacienteId" />
        <div class="form-horizontal">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DoctorId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="DoctorId" asp-items="ViewBag.Doctores" class="form-control">
                                <option disabled selected>Selecciona...</option>
                            </select>
                            <span asp-validation-for="DoctorId" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Fecha" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="Fecha" class="form-control pull-right datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" placeholder="DD/MM/AAAA" />
                            </div>
                            <span asp-validation-for="Fecha" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Comentario" rows="15" class="form-control noresize textarea"></textarea>
                    <span asp-validation-for="Comentario" class="text-danger" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <input type="submit" value="Guardar" class="btn btn-primary"/>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
