@model clinical.Models.Atencion

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Atencion</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Adjunto" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Adjunto" class="form-control" />
                <span asp-validation-for="Adjunto" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Comentario" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DoctorId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DoctorId" class="form-control" />
                <span asp-validation-for="DoctorId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Fecha" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PacienteId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PacienteId" class="form-control" />
                <span asp-validation-for="PacienteId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TimeStamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TimeStamp" class="form-control" />
                <span asp-validation-for="TimeStamp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tipo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
