@model clinical.Models.Doctor

@{
    ViewData["Title"] = "Nuevo Profesional";
}
<div class="box box-success">
    <div class="box-header with-border">
        <h3 class="box-title">Crear Nuevo Profesional</h3>
    </div>
    <form asp-action="Create" class="form-horizontal">
        <div class="box-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Rut" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Rut" class="form-control" placeholder="12345678-9"/>
                            <span asp-validation-for="Rut" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ApPaterno" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ApPaterno" class="form-control" />
                            <span asp-validation-for="ApPaterno" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ApMaterno" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ApMaterno" class="form-control" />
                            <span asp-validation-for="ApMaterno" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input asp-for="Email" type="email" class="form-control pull-right" placeholder="miemail@gmail.com" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Telefono" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input asp-for="Telefono" type="tel" class="form-control pull-right" placeholder="9 8209 1014"/>
                            </div>
                            <span asp-validation-for="Telefono" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FecNacimiento" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="FecNacimiento" class="form-control pull-right datepicker" placeholder="DD/MM/AAAA" />
                            </div>
                            <span asp-validation-for="FecNacimiento" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Sexo" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="radio">
                                <label><input asp-for="Sexo" type="radio" value="F" /> Femenino</label>
                            </div>
                            <div class="radio">
                                <label><input asp-for="Sexo" type="radio" value="M" /> Masculino</label>
                            </div>
                            <span asp-validation-for="Sexo" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Especialidad" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="Especialidad" asp-items="ViewBag.Especialidades" class="form-control">
                                <option disabled selected>Selecciona...</option>
                            </select>
                            <span asp-validation-for="Especialidad" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    <input type="submit" value="Crear Profesional" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    </form>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
