@model clinical.Models.Doctor

@{
    ViewData["Title"] = "Profesional";
}

<div class="row">
    <div class="col-sm-4">
        <div class="box box-success">
            <div class="box-body box-profile">
                @Html.GravatarImage(Model.Email, "profile-user-img img-responsive img-circle", 80, GravatarHtmlHelper.DefaultImage.MysteryMan)

                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.NombreCompleto)</h3>
                <p class="text-muted text-center">@Html.DisplayFor(model => model.Especialidad)</p>
                <p class="text-muted text-center">@Html.DisplayFor(model => model.Edad) @Html.Raw("a&ntilde;os")</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Rut</b> <a class="pull-right">@Html.DisplayFor(model => model.Rut)</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> <b>@Html.DisplayNameFor(model => model.Email)</b> <span class="pull-right">@Html.DisplayFor(model => model.Email)</span>
                    </li>
                    <li class="list-group-item">
                        <b><i class="fa fa-phone"></i> @Html.DisplayNameFor(model => model.Telefono)</b> <a href="tel:@Html.DisplayFor(model => model.Telefono)" class="pull-right">@Html.DisplayFor(model => model.Telefono)</a>
                    </li>
                </ul>

                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <b>Editar</b></a>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Otros Datos</h3>
            </div>
            <div class="box-body">
                <strong>
                    @Html.DisplayNameFor(model => model.FecNacimiento)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.FecNacimiento)</a>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.Sexo)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.Sexo)</a>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="box box-success">
            <div class="box-header">
                Pacientes
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Sexo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var paciente in Model.Pacientes)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Pacientes" asp-action="Details" asp-route-id="@paciente.Id">
                                        @Html.DisplayFor(modelitem => paciente.NombreCompleto)
                                    </a>
                                </td>
                                <td>@Html.DisplayFor(modelitem => paciente.Edad)</td>
                                <td>@Html.DisplayFor(modelitem => paciente.Sexo)</td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-header">
                Atenciones
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Paciente</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var atencion in Model.Atenciones.OrderByDescending(a => a.Fecha))
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelitem => atencion.Fecha)</td>
                                <td>
                                    <a asp-controller="Pacientes" asp-action="Details" asp-route-id="@atencion.PacienteId">
                                        @Html.DisplayFor(modelitem => atencion.Paciente.NombreCompleto)
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
