@model clinical.Models.Paciente

@{
    ViewData["Title"] = "Borrar Paciente";
}

<div class="row">
    <div class="col-sm-4">
        <div class="box box-info">
            <div class="box-body box-profile">
                @Html.GravatarImage(Model.Email, "profile-user-img img-responsive img-circle", 80, GravatarHtmlHelper.DefaultImage.MysteryMan)

                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.NombreCompleto)</h3>

                <p class="text-muted text-center">@Html.DisplayFor(model => model.Edad) @Html.Raw("a&ntilde;os")</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Rut</b> <a class="pull-right">@Html.DisplayFor(model => model.Rut)</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> <b>@Html.DisplayNameFor(model => model.Email)</b> <span class="pull-right">@Html.DisplayFor(model => model.Email)</span>
                    </li>
                    <li class="list-group-item">
                        <b><i class="fa fa-phone"></i> @Html.DisplayNameFor(model => model.Telefono)</b> <a href="tel:@Html.DisplayFor(model => model.Telefono)" class="pull-right">@Html.DisplayFor(model => model.Telefono)</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Antecedentes</h3>
            </div>
            <div class="box-body">
                <strong>
                    <i class="fa fa-user-md"></i> Doctor
                </strong>
                <a asp-controller="Doctores" asp-action="Details" asp-route-id="@Model.DoctorId" class="pull-right">@Html.DisplayFor(model => model.Doctor.NombreCompleto)</a>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.Prevision)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.Prevision)</a>
                <hr />
                <strong><i class="fa fa-map-marker margin-r-5"></i> @Html.DisplayNameFor(model => model.Direccion)</strong>
                <p class="text-muted">@Html.DisplayFor(model => model.Direccion)</p>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.FecNacimiento)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.FecNacimiento)</a>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.Sexo)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.Sexo)</a>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.EstadoCivil)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.EstadoCivil)</a>
            </div>
        </div>

    </div>
    <div class="col-sm-8">
        <div class="box box-info">
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Estas seguro que quieres eliminar este Paciente?</h4>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <form asp-action="Delete">
                            <a asp-action="Index" class="btn btn-lg btn-default">Cancelar</a>
                            &emsp;
                            <input type="submit" value="Borrar" class="btn btn-lg btn-danger" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
