@model clinical.Models.Paciente

@{
    ViewData["Title"] = "Paciente";
}

<div class="row">
    <div class="col-sm-4">
        <div class="box box-info">
            <div class="box-body box-profile">
                <input id="PacienteId" type="hidden" value="@Model.Id" />
                @Html.GravatarImage(Model.Email, "profile-user-img img-responsive img-circle",80,GravatarHtmlHelper.DefaultImage.MysteryMan)

                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.NombreCompleto)</h3>

                <p class="text-muted text-center">@Html.DisplayFor(model => model.Edad) @Html.Raw("a&ntilde;os")</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Rut</b> <a class="pull-right">@Html.DisplayFor(model => model.Rut)</a>
                    </li>
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.Prevision)</b> <a class="pull-right">@Html.DisplayFor(model => model.Prevision)</a>
                    </li>
                    <li class="list-group-item">
                         <b>@Html.DisplayNameFor(model => model.Ocupacion)</b> <a class="pull-right">@Html.DisplayFor(model => model.Ocupacion)</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-envelope"></i> <b>@Html.DisplayNameFor(model => model.Email)</b> <span class="pull-right">@Html.DisplayFor(model => model.Email)</span>
                    </li>
                    <li class="list-group-item">
                        <b><i class="fa fa-phone"></i> @Html.DisplayNameFor(model => model.Telefono)</b> <a href="tel:@Html.DisplayFor(model => model.Telefono)" class="pull-right">@Html.DisplayFor(model => model.Telefono)</a>
                    </li>
                </ul>

                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <b>Editar</b></a>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Antecedentes</h3>
            </div>
            <div class="box-body">
                <strong>
                    <i class="fa fa-user-md"></i> Doctor
                </strong>
                <a asp-controller="Doctores" asp-action="Details" asp-route-id="@Model.DoctorId" class="pull-right">@Html.DisplayFor(model => model.Doctor.NombreCompleto)</a>
                <hr />
                <strong><i class="fa fa-map-marker margin-r-5"></i> @Html.DisplayNameFor(model => model.Direccion)</strong>
                <p class="text-muted">@Html.DisplayFor(model => model.Direccion)</p>
                <hr />
                <strong>
                    @Html.DisplayNameFor(model => model.FecNacimiento)
                </strong>
                <a class="pull-right">@Html.DisplayFor(model => model.FecNacimiento)</a>
                <hr />
                <div class="row">
                    <div class="col-xs-6">
                        <strong>
                            @Html.DisplayNameFor(model => model.EstadoCivil)
                        </strong>
                        <a class="pull-right">@Html.DisplayFor(model => model.EstadoCivil)</a>
                    </div>
                    <div class="col-xs-6">
                        <strong>
                            @Html.DisplayNameFor(model => model.Sexo)
                        </strong>
                        <a class="pull-right">@Html.DisplayFor(model => model.Sexo)</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">@Html.DisplayNameFor(model => model.Adjuntos) <i class="fa fa-paperclip"></i></h3>
            </div>
            <div class="box-body">
                @if (Model.Adjuntos.Any())
                {
                    foreach (var adjunto in Model.Adjuntos.OrderByDescending(a => a.Id))
                    {
                        <i class="fa fa-paperclip"></i> <a target="_blank" asp-controller="Adjunto" asp-action="Download" asp-route-id="@adjunto.Id">@adjunto.Nombre</a><br>
                    }
                    <hr />
                }
                <div class="row">
                    <div class="col-xs-12">
                        <form asp-route-id="@Model.Id" asp-action="Upload" asp-controller="Pacientes" method="post" enctype="multipart/form-data" class="dropzone">
                            <div class="dz-message">
                                <i class="fa fa-cloud-upload"></i> Arrastra aqui tus archivos.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">@Html.DisplayNameFor(model => model.AdjuntosHistoricos) <i class="fa fa-paperclip"></i></h3>
            </div>
            <div class="box-body">
                @if (Model.AdjuntosHistoricos.Any())
                {
                    foreach (var adjunto in Model.AdjuntosHistoricos.OrderByDescending(a => a.Id))
                    {
                        <i class="fa fa-paperclip"></i> <a target="_blank" asp-controller="Adjunto" asp-action="DownloadHistorical" asp-route-id="@adjunto.Id">@adjunto.Nombre</a><br>
                    }
                    <hr />
                }
                <div class="row">
                    <div class="col-xs-12">
                        <form asp-route-id="@Model.Id" asp-action="UploadHistorical" asp-controller="Pacientes" method="post" enctype="multipart/form-data" class="dropzone">
                            <div class="dz-message">
                                <i class="fa fa-cloud-upload"></i> Agregar Ficha.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-8">

        <h4>Historia Clinica</h4>
        <ul class="timeline">
            <!-- timeline time label -->
            <li>
                <i class="fa fa-calendar-plus-o bg-aqua" aria-hidden="true"></i>
                <div class="margin-left-3x">
                    <a id="AgregarAtencion" class="btn btn-info" data-toggle="modal" data-target="#crearAtencionModal"> Agregar Atencion</a>
                </div>
            </li>
            <!-- /.timeline-label -->
            @if (Model.Atenciones.Any())
            {
                foreach (var atencion in Model.Atenciones.OrderByDescending(a => a.Fecha).ThenByDescending(a => a.Id))
                {
                    <li>
                        <i class="fa fa-medkit bg-blue"></i>

                        <div class="timeline-item">
                            <span class="time">
                                <i class="fa fa-clock-o"></i> @atencion.Fecha.ToString("dd/MMM/yyyy")
                                &nbsp;
                                <a class="btn btn-xs btn-default editAtencion" data-toggle="modal" data-target="#editarAtencionModal" data-id="@atencion.Id"><i class="fa fa-pencil-square-o"></i></a>
                            </span>

                            <h3 class="timeline-header">
                                Atenci&oacute;n realizada por <a asp-controller="Doctores" asp-action="Details" asp-route-id="@atencion.DoctorId">@atencion.Doctor.NombreCompleto</a>
                            </h3>

                            <div class="timeline-body">
                                @Html.Raw(atencion.Comentario)
                            </div>
                        </div>

                    </li>
                }
            }
            else
            {
                <li>
                    <i class="fa fa-info bg-yellow"></i>

                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> @DateTime.Now.ToString("dd/MMM/yyyy")</span>
                        <h3 class="timeline-header"><a href="#">@Model.NombreCompleto</a> no registra atenciones</h3>
                    </div>

                </li>
            }

            <li>
                <i class="fa fa-clock-o bg-gray"></i>
            </li>
        </ul>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="crearAtencionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="crearAtencionModalContent" class="modal-content">
            <p class="margin-bottom text-center">
                <i class="fa fa-3x fa-spin fa-refresh"></i>
            </p>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="editarAtencionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div id="editarAtencionModalContent" class="modal-content">
            <p class="margin-bottom text-center">
                <i class="fa fa-3x fa-spin fa-refresh"></i>
            </p>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/dropzone/dropzone.js"></script>
}