@model clinical.Models.Paciente

@{
    ViewData["Title"] = "Editar Paciente";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Editar Paciente</h3>
    </div>
    <form asp-action="Edit" class="form-horizontal">
        <div class="box-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Rut" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Rut" class="form-control" placeholder="12345678-9"/>
                            <span asp-validation-for="Rut" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ApPaterno" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ApPaterno" class="form-control" />
                            <span asp-validation-for="ApPaterno" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="ApMaterno" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="ApMaterno" class="form-control" />
                            <span asp-validation-for="ApMaterno" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Email" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <input asp-for="Email" type="email" class="form-control pull-right" placeholder="miemail@gmail.com" />
                            </div>
                            <span asp-validation-for="Email" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Telefono" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <input asp-for="Telefono" type="tel" class="form-control pull-right" placeholder="9 8209 1014"/>
                            </div>
                            <span asp-validation-for="Telefono" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-md-6">
                    <div class="form-group">
                        <label asp-for="Direccion" class="col-sm-2 col-md-3 control-label"></label>
                        <div class="col-sm-10 col-md-9">
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="FecNacimiento" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="FecNacimiento" class="form-control pull-right datepicker" placeholder="DD/MM/AAAA"/>
                            </div>
                            <span asp-validation-for="FecNacimiento" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Sexo" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <div class="radio">
                                <label><input asp-for="Sexo" type="radio" value="F" /> Femenino</label>
                            </div>
                            <div class="radio">
                                <label><input asp-for="Sexo" type="radio" value="M" /> Masculino</label>
                            </div>
                            <span asp-validation-for="Sexo" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="EstadoCivil" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="EstadoCivil" asp-items="ViewBag.Estados" class="form-control">
                                @if (Model.EstadoCivil == null)
                                {
                                    <option disabled selected>Selecciona...</option>
                                }
                                else
                                {
                                    <option disabled>Selecciona...</option>
                                }
                            </select>
                            <span asp-validation-for="EstadoCivil" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Ocupacion" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <input asp-for="Ocupacion" class="form-control" placeholder="Ingeniero" />
                            <span asp-validation-for="Ocupacion" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="DoctorId" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="DoctorId" asp-items="ViewBag.Doctores" class="form-control">
                                @if (Model.DoctorId == null)
                                {
                                    <option disabled selected>Selecciona...</option>
                                }
                                else
                                {
                                    <option disabled>Selecciona...</option>
                                }
                            </select>
                            <span asp-validation-for="DoctorId" class="text-danger" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Prevision" class="col-sm-3 control-label"></label>
                        <div class="col-sm-9">
                            <select asp-for="Prevision" asp-items="ViewBag.Previsiones" class="form-control">
                                @if (Model.Prevision == null)
                                {
                                    <option disabled selected>Selecciona...</option>
                                }
                                else
                                {
                                    <option disabled>Selecciona...</option>
                                }
                            </select>
                            <span asp-validation-for="Prevision" class="text-danger" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <a asp-action="Index" class="btn btn-default">Cancelar</a>
                    <input type="submit" value="Guardar Paciente" class="btn btn-info pull-right" />
                </div>
            </div>
        </div>
    </form>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
