@model IEnumerable<clinical.Models.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-body">
                <div class="row margin-bottom">
                    <div class="col-xs-12">
                        <a asp-action="Create" class="btn btn-info pull-right"><i class="fa fa-plus-circle"></i> Nuevo Paciente</a>
                    </div>
                </div>
                <div class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-xs-12">
                            <table id="pacientes-table" class="table table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Rut)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NombreCompleto)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefono)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Doctor)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Prevision)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-nowrap">
                                                <a asp-action="Details" asp-route-id="@item.Id">
                                                    @Html.DisplayFor(modelItem => item.Rut)
                                                    </a>
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Id">
                                                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                                                    </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefono)
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-controller="Doctores" asp-route-id="@item.DoctorId">
                                                    @Html.DisplayFor(modelItem => item.Doctor.NombreCompleto)
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Prevision)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-xs btn-default">Editar</a>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-xs btn-danger">Borrar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


