﻿@model clinical.Models.HomeViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-xs-6 col-sm-4">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.PacientesCount</h3>
                <p>Pacientes</p>
            </div>
            <div class="icon">
                <i class="fa fa-user-circle"></i>
            </div>

            <a asp-controller="Pacientes" asp-action="Index" class="small-box-footer">
                Ir al listado <i class="fa fa-arrow-circle-right"></i>
            </a>

            <div class="input-group text">

                <input type="search" class="form-control pull-right" placeholder="Busca pacientes por nombre o apellido" id="pacienteAutocomplete" name="pacienteAutocomplete" value="">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.DoctoresCount</h3>
                <p>Profesionales</p>
            </div>
            <div class="icon">
                <i class="fa fa-user-md"></i>
            </div>
            <a asp-controller="Doctores" asp-action="Index" class="small-box-footer">
                Ir al listado <i class="fa fa-arrow-circle-right"></i>
            </a>
            <div class="input-group text">
                <div class="input-group-addon">
                    <i class="fa fa-search"></i>
                </div>
                <input type="search" class="form-control pull-right" placeholder="Busca doctores por nombre o apellido" id="doctoresAutocomplete" name="doctoresAutocomplete" value="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 text-center">
        <div class="box box-warning">
            <div class="box-body">
                <a asp-controller="Pacientes" asp-action="Create" class="btn btn-app">
                    <i class="fa fa-user-circle"></i>
                    Nuevo Paciente
                </a>
                <a asp-controller="Doctores" asp-action="Create" class="btn btn-app">
                    <i class="fa fa-user-md"></i>
                    Nuevo Profesional
                </a>
            </div>
        </div>
    </div>
</div>
