﻿.margin-left{
    margin-left: 20px;
}
.margin-left-3x{
    margin-left: 60px;
}
.opacity-7{
    opacity: 0.7;
}
.margin-top {
    margin-top: 20px;
}
.margin-top-3x {
    margin-top: 60px;
}
.ui-autocomplete-input {
    width: 500px;
}

.ac-item-a {
    text-decoration: underline;
    color: blue;
    font-size: .7em;
    cursor: pointer;
    margin-left: 10px;
}
.ui-autocomplete-input {
    width: 500px
}

.ac-item-a {
    text-decoration: underline;
    color: #00f;
    font-size: .7em;
    cursor: pointer;
    margin-left: 10px
}