﻿@{
    Layout = "_LayoutExternal";
    ViewData["Title"] = "Confirmación de Email";
}

<div class="row margin-top-3x">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <div class="box-body">
                <p>
                    Gracias por confirmar tu correo. Por favor <a asp-controller="Account" asp-action="Login">Has click aquí para iniciar sesión</a>.
                </p>
            </div>
        </div>
    </div>
</div>
