﻿@{
    Layout = "_LayoutExternal";
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="row margin-top-3x">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <div class="box-body">
                <p>
                    Por favor revisa tu email para resetear tu password.
                </p>
            </div>
        </div>
    </div>
</div>
