﻿@{
    Layout = "_LayoutExternal";
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-danger">Locked out.</h1>
    <p class="text-danger">This account has been locked out, please try again later.</p>
</header>
