﻿@model RegisterViewModel
@{
    Layout = "_LayoutExternal";
    ViewData["Title"] = "Register";
}
<div class="register-box">
    <div class="register-logo">
        <a href="#"><b>Virtua</b>Clinic</a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Registrate para ingresar</p>

        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group has-feedback">
                <input asp-for="Nombre" class="form-control" placeholder="Nombre">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Apellido" class="form-control" placeholder="Apellido">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input  asp-for="Password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group has-feedback">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirmar password">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Estoy de acuerdo con los <a href="#">terminos</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-default btn-block btn-flat">Registrarse</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a asp-action="Login" class="text-center">Ya tengo una cuenta</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
